BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
## ULX3S v2.0 and v2.1
# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_25mhz" SITE "G2" ;
IOBUF PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
FREQUENCY PORT "clk_25mhz" 25.000000 MHz ;
# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE ;
# write to FLASH possible from user bitstream, not possible form JTAG:
# SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;
## USBSERIAL FTDI-FPGA serial port "usb" sheet
LOCATE COMP "ftdi_rxd" SITE "L4" ;# FPGA transmits to ftdi
LOCATE COMP "ftdi_txd" SITE "M1" ;# FPGA receives from ftdi
LOCATE COMP "ftdi_nrts" SITE "M3" ;# FPGA receives
LOCATE COMP "ftdi_ndtr" SITE "N1" ;# FPGA receives
LOCATE COMP "ftdi_txden" SITE "L3" ;# FPGA receives
IOBUF PORT "ftdi_rxd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "ftdi_txd" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ftdi_nrts" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ftdi_ndtr" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "ftdi_txden" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "lvdsOutClk" SITE "A4" ;
LOCATE COMP "lvdsLine0" SITE "D18" ;
IOBUF PORT "lvdsLine0" IO_TYPE=LVDS ;
IOBUF PORT "lvdsOutClk" IO_TYPE=LVDS ;
LOCATE COMP "lvdsLine1" SITE "A2" ;
LOCATE COMP "lvdsLine2" SITE "F17" ;
IOBUF PORT "lvdsLine2" IO_TYPE=LVDS ;
IOBUF PORT "lvdsLine1" IO_TYPE=LVDS ;
LOCATE COMP "pllInClock" SITE "B11" ;
LOCATE COMP "lcdDe" SITE "B9" ;
LOCATE COMP "lcdVsync" SITE "A9" ;
LOCATE COMP "lcdHsync" SITE "B10" ;
IOBUF PORT "lcdDe" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcdHsync" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lcdVsync" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pllInClock" IO_TYPE=LVCMOS33 ;
LOCATE COMP "pixelClock" SITE "C11" ;
IOBUF PORT "pixelClock" IO_TYPE=LVCMOS33 ;
LOCATE COMP "RGBIN[0]" SITE "A7" ;
LOCATE COMP "RGBIN[1]" SITE "A8" ;
LOCATE COMP "RGBIN[2]" SITE "C8" ;
LOCATE COMP "RGBIN[3]" SITE "B8" ;
LOCATE COMP "RGBIN[4]" SITE "C6" ;
LOCATE COMP "RGBIN[5]" SITE "C7" ;
LOCATE COMP "RGBIN[6]" SITE "A6" ;
LOCATE COMP "RGBIN[7]" SITE "B6" ;
IOBUF PORT "RGBIN[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RGBIN[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RGBIN[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RGBIN[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RGBIN[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RGBIN[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RGBIN[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RGBIN[7]" IO_TYPE=LVCMOS33 ;
